{% extends "layout.html" %}
{% block content %}
<h1>Edit Animation</h1>
    <div id="edit" style="width: 256px;">
        <canvas id="canvas-grid" width="256" height="256">
        </canvas>
        <div id="editor">
            <div id="frame-info">
                <span id="frameText">Frame 1 of 1</span>
            </div>
            <div>
                <span id="background-box" class="color-box"></span>
                <span id="light-box" class="color-box"></span>
                <span id="medium-box" class="color-box"></span>
                <span id="dark-box" class="color-box"></span>
                <span id="current-box" class="color-box"></span>
            </div>
            <div>
                <button id="firstFrame">|&lt;</button>
                <button id="prevFrame">&lt;</button>
                <button id="nextFrame">&gt;</button>
                <button id="lastFrame">&gt;|</button>
            </div>
            <div>
                <button id="clear">Clear</button>
                <button id="copy">Copy</button>
                <button id="paste">Paste</button>
                <button id="delete">Delete</button>
            </div>
            <div>
                <p>Time between frames (ms): <input type="text" id="time" value="325" style="width:25px;"><br>
                Loop: <input type="checkbox" id="loop" style="width:25px;"><br>
                <button id="play">Play</button></p>
                
            </div>
            <div>
                <button id="save">Save</button>
            </div>
        </div>
    </div>
    <script src="/static/js/anigram.js"></script>
{% endblock %}